{% extends "global/base.html" %}
{% block content %}

{% if page_obj %}

    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">
                Contacts
            </caption>

            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Song</th>
                    <th class="table-header">Artist</th>
                    <th class="table-header">Audio</th>
                </tr>
            </thead>

            <tbody>
                {% for song in page_obj %}
                    <tr class="table">
                        <td class="table-cel">
                            <a class="table-link" href="{% url "home:song" song.song_author.id song.id %}">{{song.id}}</a>
                        </td>

                        <td class="table-cel">
                            {{song.song_name}}
                        </td>

                        <td class="table-cel">
                            {{song.song_author}}
                        </td>

                        <td class="table-cel">
                            {% if song.audio %}
                                <audio controls id='music'>
                                    <source src="{{ song.audio.url }}" type="audio/mpeg">
                                    <source src="{{ song.audio.url }}" type="audio/wav">
                                    <source src="{{ song.audio.url }}" type="audio/ogg">
                                </audio>
                            {% else %}
                                No audio available
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% else %}
<div class="single-contact">
    <h1 class="single-contact-name">
        No results
    </h1>
</div>
{% endif %}
{% endblock content %}

