{% extends "global/base.html" %}

{% block content %}
  <h1>Song</h1>
        
    <div class="form-content">

        <div class="form-group">
            <h2>
                Song name:
            </h2>
            {{song.song_name}}
            
        </div>

        <div class="form-group">
            <h2>
                Artist:
            </h2>
            {{song.song_author}}
        </div>

        <div class="form-group">
            <h2>
                Instrument:
            </h2>
            {{song.instrument}}
        </div>
        
        <div class="form-group">
            <h2>
                Yt tutorial:
            </h2>
            <a href="{{song.yt_video}}" target="_blank">{{song.yt_video}}</a>
        </div>

        {% if song.audio %}
            <h2>
                Audio:
            </h2>
            <audio controls id='music'>
                <source src="{{ song.audio.url }}" type="audio/mpeg">
                <source src="{{ song.audio.url }}" type="audio/wav">
                <source src="{{ song.audio.url }}" type="audio/ogg">
            </audio>
        {% else %}
            No audio available
        {% endif %}

        <div class="form-group">
            <h2>
                Song style:
            </h2>
            {{song.style}}
        </div>
                
        {% if tabs %}
            <h2>
                Tabs:
            </h2>
            <iframe src="{{ song.tab.url }}" width="1000" height="1000"></iframe>
        {% else %}
            No tabs available
        {% endif %}

        

    </div> 

{% endblock content %}