
<header class="header">
    <h1 class="header-heading">
      <a href="{% url "home:index" %}" class="header-link">
        Tabs
      </a>
    </h1>
    
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="{% url "home:artists" %}" class="menu-link">
            Artists
          </a>
        </li>

        <li class="menu-item">
          <a href="{% url "home:create_artist" %}" class="menu-link">
            Create Artists
          </a>
        </li>

        <li class="menu-item">
          <a href="{% url "home:create_tabs" %}" class="menu-link">
            Add Song/Tabs
          </a>
        </li>

        <li class="menu-item">
          <a href="{% url "home:user_update" %}" class="menu-link">
            Profile
          </a>
        </li>

      </ul>
    </nav>
</header>